<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <!-- 카멜케이스를 스네이크 케이스로 변환 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- 결과가 없을 때 null이 아닌 빈 객체 반환 -->
        <setting name="returnInstanceForEmptyRow" value="true" />
    </settings>
</configuration>