<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dev.spring.petclinic.findowner.mapper.OwnersMapper">

    <!-- 특정 ID로 Owner 조회 -->
    <select id="findOwnerById" parameterType="long" resultType="dev.spring.petclinic.findowner.model.Owners">
        SELECT id, first_name, last_name, address, city, telephone
        FROM owners
        WHERE id = #{id}
    </select>

    <!-- 모든 Owner 목록 조회 -->
    <select id="findAllOwners" resultType="dev.spring.petclinic.findowner.model.Owners">
        SELECT id, first_name, last_name, address, city, telephone
        FROM owners
    </select>

    <!-- 성(last_name)으로 Owner 검색 -->
    <select id="findOwnersByLastName" parameterType="string" resultType="dev.spring.petclinic.findowner.model.Owners">
        SELECT id, first_name, last_name, address, city, telephone
        FROM owners
        WHERE last_name LIKE CONCAT('%', #{lastName}, '%')
    </select>



</mapper>
